.features-section {
    padding-top: 94px;
  }
  
  .features-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  .features-icon-bgr {
    background-color: var(--filters-btn-bgr-color);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    border-radius: 4px;
    margin-bottom: 30px;
  }
  .features-list-item {
    display: block;
    width: 270px;
    margin-left: 30px;
    margin-top: 30px;
  }
  
  .features-text {
    font-size: 14px;
    line-height: 1.14;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--grey-text-color);
  }