.our-team-section {
    background-color: var(--filters-btn-bgr-color);
    padding-top: 94px;
    
  }
  .ots-container {
    max-width: 1600px;
  }
  
  .our-team-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  
  .our-team-list-item {
    margin-left: 30px;
    margin-top: 30px;
    background-color: var(--main-title-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }

  .our-team-suptitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--suptitle-color);
    margin-bottom: 10px;
  }
  
  .our-team-text {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--grey-text-color);
    margin-bottom: 16px;
  }
  
  .members {
    padding: 30px 0;
  }

  