:root {
    --filters-btn-bgr-color: #f5f4fa;
    --btn-hover-color: #188ce8;
    --main-background-color: #2f303a;
    --main-title-color: #ffffff;
    --grey-text-color: #757575;
    --suptitle-color: #212121;
    --logo-color: #000000;
    --accent-color: #2196f3;
    --bg-color: #c4c4c4;
    --social-link-color: #afb1b8;
    --main-font: "Roboto", "Arial", sans-serif;
    --secondary-font: "Raleway", sans-serif;
    --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }